<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <title>Nyemiltiv</title>
</head>
<%- include("../partials/navbar") %>
    <body>
        <div style="text-align:center">
            <% if(notif) { %>
                <p style="font-weight: bold;"><%= notif %></p>
            <% } %>
            <h2><a href="/profiles/<%= sessionId %>">Profile</a></h2>
            <h1>All Products</h1>
        </div>
        <% result.forEach(x=> { %>
        <div class="card">
            <img src="<%= x.imgUrl %>" alt="food-beverage" style="width:300px" height="300px">
            <div class="container">
              <h4><b><%= x.name %></b></h4>
              <p>Stock : <%= x.stock %> </p>
              <p>Price: <%= idrFormatter(x.price) %></p>
              <a href="/products/<%= x.id %>"><button style="background-color:lightblue">See Detail</button></a>
              <a href="/products/<%= x.id %>/buy"><button style="background-color:lightgreen">Buy</button></a>
            </div>
          </div>
          <% }); %>
    </body>

</html>