<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyemiltiv</title>
</head>
<%- include("../partials/navbar") %>

    <body>
        <div style="text-align:center">
            <% if(notif) { %>
                <p style="font-weight: bold;">
                    <%= notif %>
                </p>
                <% } %>
                    <h2><a href="/profiles/6">Profile</a></h2>
                    <h1>All Products</h1>
                    <br>
                    <table
                        style="margin-left: auto;margin-right: auto;border: 1px solid; width: 1500px; height: 200px;">
                        <thead>
                            <tr style="background-color:#00B8FF;text-align:center;height: 80px;">
                                <th style="border: 1px solid;">Name</th>
                                <th style="border: 1px solid;">Price</th>
                                <th style="border: 1px solid;">Stock</th>
                                <th style="border: 1px solid;">Image</th>
                                <th style="border: 1px solid;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% result.forEach(x=> { %>
                                <tr style="text-align:center">
                                    <td style="border: 1px solid;">
                                        <%= x.name %>
                                    </td>
                                    <td style="border: 1px solid;">
                                        <%= idrFormatter(x.price) %>
                                    </td>
                                    <td style="border: 1px solid;">
                                        <%= x.stock %>
                                    </td>
                                    <td style="border: 1px solid;">
                                        <img src="<%= x.imgUrl %>" style="width:200px">
                                    </td>
                                    <td style="border: 1px solid;">
                                        <a href="/products/<%= x.id %>"><button style="background-color:lightblue">See
                                                Detail</button></a>
                                        <a href="/products/<%= x.id %>/buy"><button
                                                style="background-color:lightgreen">Buy</button></a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
        </div>
    </body>

</html>